<%- include('../partials/header') %>
 <table class="table">
    <tr>
        <th>Airline</th>
        <td><%= flight.airline %></td>
    </tr>
    <tr>
        <th>Airport</th>
        <td><%= flight.airport %></td>
    </tr>
    <tr>
        <th>Flight Number</th>
        <td><%= flight.flightNO %></td>
    </tr>
    <tr>
        <th>Departure Date</th>
        <td><%= flight.departs %></td>
    </tr>
 </table>
<%- include('../partials/footer') %> 